<!DOCTYPE html>
<html>
<head>
	<title>List</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
  	<link rel="stylesheet" type="text/css" href="/list.css">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="  #bs-example-navbar-collapse-1" aria-expanded="false">
       				<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
       	 			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
      			</button>
				<a href="/" class="navbar-brand"><img src="\images\g11259.png"></a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="/dbug/about">ABOUT</a></li>
					<li><a href="/projects">FEATURES</a></li>
					<li><a href="/dbug/new">NEW <i class="fas fa-code"></i></a></li>

				</ul>
				<ul class="nav navbar-nav navbar-right">
				<% if(!currentuser){%>
						<li><a href="/register"><i class="fas fa-user-plus"></i> Signup</a></li>
						<li><a href="/login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
					<% } else {%>
						<li><a href="/account"><img src="<%=currentuser.Imageurl%>" class="img-circle" height="21" width="25"> SignIn as <%= currentuser.username %></a></li>
						<li><a href="/logout"><i class="fas fa-sign-out-alt"></i> logout</a></li>	
					<%}%>
				</ul>
			</div>
		</div>
	</nav>
	<br>
	<br>
	<div class="main-wrap">
		<div class="container">
			<div class="page-header">
				<div class="title-row">
					<div class="row hlo">
						<div class="col-md-12 col-sm-12 col-xs-12 heading-space">
							<h3 class="public">
								<svg class="octicon octicon-repo" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
								<path fill-rule="evenodd" d="M4 9H3V8h1v1zm0-3H3v1h1V6zm0-2H3v1h1V4zm0-2H3v1h1V2zm8-1v12c0 .55-.45 1-1 1H6v2l-1.5-1.5L3 16v-2H1c-.55 0-1-.45-1-1V1c0-.55.45-1 1-1h10c.55 0 1 .45 1 1zm-1 10H1v2h2v-1h3v1h5v-2zm0-10H2v9h9V1z"></path></svg>
								<strong id="author-name">
									<a><%=proname%></a>
								</strong>
							</h3>
							
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<% result.forEach(function(project){ %>
				<a href="#" >
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id= "hello">
						<h3><strong><%= project.Projectname %></strong></h3>
						<div class="description">
							<p style="font-size: 17px; padding-right: 20px;"><%= project.description %></p>
						</div>
						
						<p style="font-size: 17px">
							<span class="repo-language-color pinned-repo-meta" style="background-color:#701516;"></span>
							<i style="padding-right: 20px;"><%= project.projecttech %></i>
							<svg aria-label="stars" class="octicon octicon-star" viewBox="0 0 14 16" version="1.1" width="14" height="16" role="img"><path fill-rule="evenodd" d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path></svg>
							<i style="padding-right: 10px;"><%= project.projecttype %></i>
						</p>
					</div>
				</a>
				<br>
				<% }) %>
			</div>
		</div>
		

	</div>


</body>
</html>